<h2>My returned books</h2>
<hr>
<div
  *ngIf="message"
  class="alert "
  [class.alert-danger]="level==='error'"
  [class.alert-success]="level==='success'"
  role="alert"
>
  <p>{{message}}</p>
</div>
<div class="return">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titles</th>
      <th scope="col">Author</th>
      <th scope="col">ISBN</th>
      <th scope="col">Rate</th>
      <th scope="col">╰┈➤</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let book of returnedBooks.content; let index = index">
      <th scope="row">{{ index + 1 }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.authorName }}</td>
      <td>{{ book.isbn }}</td>
      <td> ★ {{ book.rate }}</td>
      <td>
        <div class="d-flex gap-2">
          <a *ngIf="book.returned" style="cursor: pointer">╰┈➤</a>
          <a *ngIf="!book.returned" style="cursor: pointer">╰┈➤</a>
          <a (click)="approveBookReturn(book)" [class.text-success]="book.returnApproved" style="cursor: pointer">╰┈➤</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="page">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" *ngIf="page !== 0">
          <a
            (click)="goToFirstPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
          >
            <<
            <i class="fa-solid fa-angles-left"></i>
          </a>
        </li>
        <li class="page-item" *ngIf="page !== 0">
          <a
            (click)="goToPreviousPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
          >
            <
            <i class="fa-solid fa-angle-left"></i>
          </a>
        </li>


        <li class="page-item" *ngFor="let pageI of pages; let i = index">
          <ng-container *ngIf=" i === page - 1">
            <a
              *ngIf="page - 1 === 0"
              (click)="gotToPage(pageI)"
              class="page-link"
              href="javascript:void(0)"
            >
              {{pageI + 1}}
            </a>
            <a
              *ngIf="page - 1 !== 0"
              (click)="gotToPage(pageI)"
              class="page-link"
              href="javascript:void(0)"
            >
              ...{{pageI + 1}}
            </a>
          </ng-container>
          <ng-container *ngIf="i === page">
            <a
              (click)="gotToPage(pageI)"
              class="page-link"
              href="javascript:void(0)"
            >
              {{pageI + 1}}
            </a>
          </ng-container>
          <ng-container *ngIf=" i === page + 1">
            <a
              *ngIf=" i === page + 1 && page + 1 === pages.length - 1"
              (click)="gotToPage(pageI)"
              class="page-link"
              href="javascript:void(0)"
            >
              {{pageI + 1}}
            </a>
            <a
              *ngIf=" i === page + 1 && page + 1 !== pages.length - 1"
              (click)="gotToPage(pageI)"
              class="page-link"
              href="javascript:void(0)"
            >
              {{pageI + 1}}...
            </a>
          </ng-container>
          <ng-container *ngIf="!(i === page - 1 || i === page || i === page + 1)">
            <a class="ng-hides"></a>
          </ng-container>
        </li>


        <li class="page-item" *ngIf="!isLastPage && pages.length !== 0">
          <a
            (click)="goToNextPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Next"
          >
            >
          </a>
        </li>
        <li class="page-item" *ngIf="!isLastPage && pages.length !== 0">
          <a
            (click)="goToLastPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Next"
          >
            >>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
