<div
  class="card"
  style="width: 20rem;"
  [class.border-success]="book.shareable"
  [class.border-warning]="book.archived"
>
  <img height="200" [src]="bookCover" class="card-img-top" alt="...">
  <div class="d-flex gap-2">
    <app-rating [rating]="book.rate || 0"></app-rating>
    <span class="fw-bold" *ngIf="book.rate || 0 > 0">
      {{book.rate}}
    </span>
  </div>
  <div class="card-body overflow-scroll">

    <h5 class="card-title fs-6 text-nowrap fw-bold mb-1">
      <label>
      Title:
    </label>
      &nbsp;{{book.title}}
    </h5>
    <h5 class="card-subtitle fs-6 text-secondary mb-1">
      <label>
        Author name:
      </label>
      &nbsp;{{ book.authorName }}
    </h5>
    <h6 class="card-subtitle fs-6 text-secondary mb-1">
      <label>
        ISBN:
      </label>>
      &nbsp;{{ book.isbn }}
    </h6>
    <h6 class="card-subtitle fs-6 text-secondary">
      <label>
        Owner:
      </label>
      &nbsp;{{ book.owner }}
    </h6>
    <hr>
    <div>
      <p class="card-text">{{book.synopsis}}</p>
    </div>
  </div>
  <div class="card-footer d-flex gap-2 justify-content-between align-items-center">

    <div class="d-flex gap-2" *ngIf="!manage">
      <a (click)="onBorrow()" class="fas fa-list-check text-primary"> ✓ </a>
    </div>
    <div class="click-btn" *ngIf="manage">
      <a (click)="onShare()" class="fas fa-share-nodes text-primary"> ✈ </a>
      <a (click)="onArchive()" class="fas fa-archive text-danger"> 🗄 </a>
    </div>
  </div>
</div>
