
ul {
  list-style-type: none;
  margin-top: 0;
  overflow: hidden;
  background-color: var(--primary-color);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.btn-logout{
  margin-right: 10px;
  margin-top: 5px;
  float: right;
}

button {
  border: none;
  color: white;
  cursor: pointer;
  background-color: var(--primary-color);
  font-size: 16px;
}


li a:hover {
  background-color: #151d65;
}
