<div class="head-menu">
  <ul>
    <li>
      <a  routerLink="/books">
        &nbsp;Home
      </a>
    </li>
    <li>
      <a  routerLink="my-books">
        &nbsp;My books
      </a>
    </li>
    <li>
      <a  routerLink="my-returned-books">
        &nbsp;My returned books
      </a>
    </li>
    <li>
      <a  routerLink="my-borrowed-books">
       &nbsp;Borrowed books
      </a>
    </li>
    <div class="btn-logout">
      <button class="btn" type="submit" (click)="logout()">Logout</button>
    </div>
  </ul>
</div>
